# Dependências
node_modules/

# Build
dist/

# Variáveis de Ambiente 
.env

# Banco de Dados (SQLite)
*.sqlite
*.db
database.sqlite

# Logs
*.log
npm-debug.log*

# Uploads (Mantém a pasta, mas ignora os arquivos dentro)
uploads/*
!uploads/.gitkeep

# Editor
.vscode/
.idea/
.DS_Store