:root {
    /* Paleta de cores do PROJETO*/
    --color-primary: #0C1F44;    /* Azul Escuro (Fundo menus, textos principais) */
    --color-accent: #00C2E0;     /* Ciano (Botões, links, detalhes) */
    --color-secondary: #8F00FF;  /* Roxo Vibrante (Gradientes, destaques) */
    --color-highlight: #FF0099;  /* Magenta (Interações, hover) */
    
    --color-background: #e5e4f3; /* Cinza bem clarinho (Fundo das páginas) */
    --color-surface: #FFFFFF;    /* Branco (Fundo de cards e painéis) */
    
    --color-text: #0C1F44;       /* Cor do texto padrão */
    --color-text-light: #F8F9FA; /* Cor de texto para fundos escuros */
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Reset */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif; 
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

html, body, #app {
  height: 100vh;     
  width: 100%;
  overflow: hidden;   
  margin: 0;
  padding: 0;
}

/* Estilo padrão para links */
a {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.3s;
}

a:hover {
  color: var(--color-secondary); 
}